#toggle-journal-details-div {
  display: inline-block;
  margin-left: 10px;
}

#toggle-journal-details-div a {
  font-size: 0.75em;
}

#toggle-journal-details-div .details-count {
  font-size: 0.8em;
  margin: 0 4px;
}

#hide-journal-details {
  display: none;
}

#history .journal.initial {
  background-color: #C1EDF7;
  padding: 6px;
}
